.idle-task-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-container);
    border-radius: 10px;
    height: 100%;
    gap: 1rem;
}

.create-task-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 12rem;
    border-radius: 16px;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: background-color 50ms ease-in-out;

    &:active {
        background-color: var(--color-on-primary);
    }
}

.create-task-icon {
    background-color: var(--color-on-primary);
    height: 128px;
    width: 128px;
    aspect-ratio: 1 / 1;
    transition: background-color 50ms ease-in-out;

    &:active {
        background-color: var(--color-primary);
    }
}

.task-list-trigger-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.task-list-text {
    font-size: 1rem;
    color: var(--color-on-secondary-container);
}

.task-list-trigger {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    background-color: var(--color-primary);
    border: 2px solid var(--color-on-primary);
    color: var(--color-on-primary);
    border-radius: 8px;
    cursor: pointer;
    transition:
        background-color 100ms ease-in-out,
        color 100ms ease-in-out;

    &:active {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
    }
}

@media screen and (max-width:480px) {
    .create-task-trigger {
        height: 12rem;
        width: 12rem;
    }
}