.inspect-task-view {
    color: var(--color-on-secondary-container);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    gap: .5rem;
}

.inspect-header,
.inspect-body,
.inspect-footer {
    background-color: var(--color-secondary-container);
    padding: .5rem;
    border-radius: 10px;
}

.inspect-header-meta {
    display: flex;
    justify-content: space-between;
}

.inspect-body-meta {
    display: flex;
    justify-content: space-between;
}

.inspect-footer-meta {
    display: flex;
    justify-content: space-between;
}

.inspect-header-text,
.inspect-desc-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.inspect-create-date,
.inspect-dueDate {
    font-size: 1rem;
}


.inspect-body,
.inspect-description-content {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-on-primary);
}

.inspect-task-priority {
    display: flex;
    align-items: center;
}

.inspect-action-btn-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.inspect-action-btns {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 50ms ease-in-out, color 50ms ease-in-out;

    &:active {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
    }
}