.task-list-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    gap: 1rem;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 10px 10px 0px 0px;

    div {
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }
}

.task-list-create-task-btn,
.task-list-filter-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.task-list-filter-task-btn {
    position: relative;
    z-index: 101;
}

.filter-menu-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 8rem;
    z-index: 200;
    opacity: 0;
    transform: translateX(0rem);
    transition: opacity .5s var(--custom-transition),
        transform .5s var(--custom-transition);
    pointer-events: none;

    &.open {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(-15rem);
    }
}

.filter-sub-menu {
    transform: translateX(1rem);
    border-radius: 8px 0px 0px 8px;
    opacity: 0;
    transition: opacity .5s var(--custom-transition), transform .5s var(--custom-transition);
    pointer-events: none;

    &.open {
        opacity: 1;
        transform: translateX(.55rem);
        pointer-events: auto;
    }
}

.filter-menu {
    border-radius: 8px;
}


.filter-sub-menu,
.filter-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tertiary-container);
    height: auto;
    width: 10rem;
    padding: .75rem;
    gap: .5rem;

    li {
        white-space: nowrap;
        list-style-type: none;
        width: 100%;
    }


}

.filterButton,
.orderButton {
    div {
        border: 2px solid var(--color-on-tertiary-container);
        color: var(--color-on-tertiary-container);
        padding: .25rem .5rem;
        border-radius: 4px;
    }

    input {
        display: none;
    }
}

.filterButton input:checked+div {
    color: var(--color-tertiary-container);
    background-color: var(--color-on-tertiary-container);
}

.orderButton input:checked+div {
    color: var(--color-tertiary-container);
    background-color: var(--color-on-tertiary-container);
}


.task-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    gap: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-on-primary);
}

.task-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
    padding: .5rem;
    gap: .5rem;

    &.low-priority-container {
        border-left: 4px solid var(--low-priority-border);
    }

    &.medium-priority-container {
        border-left: 4px solid var(--medium-priority-border);
    }

    &.high-priority-container {
        border-left: 4px solid var(--high-priority-border);
    }
}

.task-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.task-info-section {
    min-width: 0;
}

.task-card-title {
    font-size: 1.2rem;
}

.task-card-title,
.task-card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card-action-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: none;
    aspect-ratio: 1 / 1;
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 50ms ease-in-out, color 50ms ease-in-out;

    div {
        pointer-events: none;
    }

    &:active {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
    }
}

.edit-delete-btn-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.task-data {
    display: flex;
    justify-content: space-between;
}

.task-meta-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.task-card-duedate {
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
    border: 1px solid var(--color-on-secondary-container);
    padding: .35rem;
    border-radius: 8px;
    text-align: center;
}

.task-card-priority {
    padding: .35rem;
    border-radius: 8px;

    &.low-priority {
        background-color: var(--low-priority-bg);
        color: var(--low-priority-border);
    }

    &.medium-priority {
        background-color: var(--medium-priority-bg);
        color: var(--medium-priority-border);
    }

    &.high-priority {
        background-color: var(--high-priority-bg);
        color: var(--high-priority-border);
    }
}

.empty-task {
    text-align: center;
    color: var(--color-on-secondary-container);
    font-size: 1rem;
}