.app-text-aside {
    font-size: 1.2rem;
    font-weight: 400;
}

.app-logo-aside {
    border-radius: var(--radius-round);
    background-image: url('../assets/icons/task-manager-light.ico');
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
    transform: scale(1.5);
    //box-shadow: var(--box-shadow);
    border: none;
    pointer-events: none;
}

.app-logo-text-aside {
    display: none;
}

.sideBar-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 1rem;
    gap: 1rem;
}

.sideBar-item-container li {
    width: 100%;
}

.item-contents {
    display: inline-block;
    width: 90%;
    cursor: pointer;

    input[type="radio"] {
        position: absolute;
    }

    div {
        background-color: var(--color-primary);
        color: var(--color-on-primary);
        padding: .5rem 2rem .5rem 4rem;
        border-radius: 0px 64px 64px 0px;
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
        transform: translateX(-3rem);
        transition: transform 150ms ease-in-out;
    }
}

.item-contents input:checked+div {
    transform: translateX(0rem);
}

@media screen and (max-width:480px) {
    .app-logo-text-aside {
        grid-area: logo-text;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--common-padding);
        padding: var(--common-padding);
    }
}