.app-logo-text-header {
    grid-area: logo-text;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--common-padding);
    padding-left: var(--common-padding);
}

.app-text-header {
    font-size: 1.2rem;
    font-weight: 400;
}

.app-logo-header {
    border-radius: var(--radius-round);
    background-image: url('assets/task-manager-light.ico');
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
    transform: scale(1.5);
    box-shadow: var(--box-shadow);
    border: none;
    pointer-events: none;
}

@media screen and (max-width:480px) {
    .app-logo-header {
        background-image: url('assets/menu.ico');
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
        height: 1rem;
        width: 1rem;
        pointer-events: auto;
        z-index: 1000;

        &.no-bg {
            background-image: none !important;
        }
    }

    .app-text-header {
        display: none;
    }
}