.app-logo-text-header {
    grid-area: logo-text;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--common-padding);
    padding-left: var(--common-padding);
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
}

.app-text-header {
    font-size: 1.2rem;
    font-weight: 400;
}

.app-logo-header {
    border-radius: var(--radius-round);
    background-image: url('assets/task-manager-light.ico');
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
    transform: scale(1.5);
    //box-shadow: var(--box-shadow);
    border: none;
    pointer-events: none;
}

@media screen and (max-width:480px) {
    .app-logo-header {
        background-image: none;
        background-color: transparent;
        height: 1.75rem;
        width: 1.75rem;
        background-color: var(--color-on-primary-container);
        mask-image: url("assets/icons/menu.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        -webkit-mask-image: url("assets/icons/menu.svg");
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        pointer-events: auto;
        z-index: 1000;

        &.no-bg {
            background-color: transparent !important;
        }
    }

    .app-text-header {
        display: none;
    }
}