.app-task-container {
    grid-area: task-main;
    border-radius: var(--radius-mid);
    overflow-y: auto;
    padding: var(--common-padding);
    margin: .5rem;
    color: var(--color-on-surface);
    background-color: var(--color-surface);
}