.overLay {
    position: fixed;
    inset: 0;
    background-color: var(--overlay-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s var(--custom-transition);
    z-index: 100;

    &.active {
        pointer-events: auto;
        opacity: 1;
    }
}