.app-profile-menu {
    position: absolute;
    display: grid;
    border-radius: var(--radius-mid);
    padding: var(--common-padding);
    height: 20rem;
    width: 20rem;
    z-index: 200;
    top: 100%;
    transform-origin: top right;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1rem) scale(0);
    transition: 1s var(--custom-transition);
    background-color: var(--color-tertiary-container);
    color: var(--color-on-tertiary-container);

    &.open {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.app-user-profile {
    grid-area: profile;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-inline: .5rem;
    position: relative;
    gap: .5rem;
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
}

.app-profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: var(--radius-round);

    background-color: var(--inner-bg-color);
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s var(--custom-transition);
    user-select: none;
    z-index: 200;
    background-color: var(--color-on-primary-container);
    color: var(--color-primary-container);
    //transition: box-shadow 1s var(--custom-transition);
    //box-shadow: var(--box-shadow);

    &:active {
        background-color: var(--color-primary-container);
        color: var(--color-on-primary-container);
    }
}

/*
@media screen and (min-width: 480px) {
    .app-profile-icon:hover {
        box-shadow: var(--box-shadow);
    }
}
*/
.theme-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: var(--color-tertiary-container);
}

.theme-toggle-icon {
    color: var(--color-on-tertiary-container);
}