.app-search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--border-margin);
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
}

.search-bar {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    padding: .6rem;

    &::placeholder,
    &::-webkit-input-placeholder {
        color: var(--color-on-primary);
    }

    &:focus-within {

        &::placeholder,
        &::-webkit-input-placeholder {
            color: var(--color-primary);
        }
    }
}

.search-container {
    display: flex;
    align-items: center;
    padding: .25rem;
    border-radius: var(--radius-round);
    width: 100%;
    max-width: 800px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    transition: background-color .5s var(--custom-transition);

    &:focus-within {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
        //box-shadow: var(--box-shadow);
    }
}

@media screen and (max-width: 480px) {
    .search-container {
        width: 85%;
    }
}

.search-btn {
    height: 2.5rem;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-on-primary);
    border-radius: var(--radius-round);
    border: none;
    cursor: pointer;
    transition: color 0.2s var(--custom-transition), background-color .2s var(--custom-transition);


    &:active {
        background-color: var(--color-primary);
    }
}

.search-icon {
    color: var(--color-primary);


    &:active {
        color: var(--color-on-primary);
    }
}