.app-sidebar {
    grid-area: sidebar;
    position: static;
}

@media screen and (max-width:480px) {
    .app-sidebar {
        position: fixed;
        height: 100dvh;
        width: 80dvw;
        inset: unset;
        border: none;
        background-image: var(--background-gradient);
        transform: translateX(-100%);
        transition: transform 1s var(--custom-transition);
        will-change: transform;
        z-index: 200;
        
        &.open {
            transform: translateX(0%);
        }
    }
}
