:root {
    --box-shadow: 0px 1px 2px #808080;
}

html {
    font-size: clamp(15px, 0.8vw + 8px, 18px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background-color: #d5ffff;
}

.app-task-manager {
    display: grid;
    grid-template-columns: 15em 1fr 100px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "logo-text search profile"
        "sidebar task-main task-main"
        "footer footer footer";
    height: 100vh;
    background-image:
        radial-gradient(at 0% 50%, #ffb6c199 0px, transparent 50%),
        radial-gradient(at 100% 0%, #a2d2ff80 0px, transparent 50%),
        radial-gradient(at 80% 80%, #b8fbe999 0px, transparent 50%),
        radial-gradient(at 20% 10%, #cdb4db80 0px, transparent 50%);
    padding: .5em;
}

.app-logo-text {
    grid-area: logo-text;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding-left: 1em;
}

.app-text {
    font-size: 1.2rem;
    font-weight: 400;
}

.app-logo {
    border-radius: 3rem;
    background-image: url('assets/task-manager-light.ico');
    background-size: 100% 100%;
    padding: 1em;
    scale: 1.5;
    box-shadow: var(--box-shadow);
}

.app-search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: .5em;
}

.search-bar {
    padding: .9em;
    padding-inline: 3.5em;
    font-size: .9rem;
    border-radius: 25px;
    width: 90%;
    outline: none;
    background-color: #e9eef6;
    border-color: transparent;
    transition: .2s ease-in-out;
}

.search-bar:focus {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    cursor: text;
}

.search-icon {
    background-color: transparent;
    padding: 1.35em;
    border-radius: 25px;
    border-color: transparent;
    outline: none;
    background-image: url('assets/search.ico');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.25em 1.25em;
    position: relative;
    right: calc(90% - .5em);
    transition: 0.2s ease-in;
}

.search-icon:hover {
    background-color: #d3d3d3;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.app-user-profile {
    grid-area: profile;
}

.app-sidebar {
    grid-area: sidebar;
}

.app-task-container {
    grid-area: task-main;
    background-color: #fff;
    border-radius: 15px;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    padding: 1em;
}

.app-footer {
    grid-area: footer;
}