.app-task-container {
    grid-area: task-main;
    background-color: rgba(255, 255, 255, .4);
    border-radius: var(--radius-mid);
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    padding: var(--common-padding);
}