.app-profile-menu {
    position: absolute;
    display: grid;
    border-radius: var(--radius-mid);
    padding: var(--common-padding);
    background-image: var(--background-gradient);
    height: 25rem;
    width: 25rem;
    z-index: 200;
    top: 100%;
    transform-origin: top right;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1rem) scale(0);
    transition: 1s var(--custom-transition);

    &.open {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.app-user-profile {
    grid-area: profile;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-inline: .5rem;
    position: relative;
}

.app-profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: var(--radius-round);
    box-shadow: var(--box-shadow);
    background-color: white;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .2s var(--custom-transition);
    user-select: none;
    z-index: 200;
    transition: box-shadow 1s var(--custom-transition);


    &:active {
        transform: scale(1);
        background-color: var(--active-bg-color);
    }
}

@media screen and (min-width: 480px) {
    .app-profile-icon:hover {
        box-shadow: 0px 0px 10px #808080;
    }
}