html {
    font-size: clamp(15px, 0.8vw + 8px, 18px);
}

body {
    font-family: sans-serif;
    background-color: var(--color-background);
    overflow: hidden;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}