html {
    font-size: clamp(15px, 0.8vw + 8px, 18px);
}

body {
    background-color: var(--color-secondary-container);
    overflow: hidden;
}

html,
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}