* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: color .5s var(--custom-transition),
        background-color .5s var(--custom-transition);
}

html,
body {
    height: 100%;
}